<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>dev.iu7.bmstu.ru</value>
            </setting>
            <setting name="POP" serializeAs="String">
                <value>10110</value>
            </setting>
            <setting name="SMTP" serializeAs="String">
                <value>10025</value>
            </setting>
            <setting name="To" serializeAs="String">
                <value>mbox355-00@dev.iu7.bmstu.ru</value>
            </setting>
            <setting name="From" serializeAs="String">
                <value>mbox355-01@dev.iu7.bmstu.ru</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>mbox355-01@dev.iu7.bmstu.ru</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>rRmB5</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Database.sdf</value>
            </setting>
            <setting name="LastChange" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="CurrentView" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
</configuration>